<a href="https://colab.research.google.com/github/makms2023/ds1002-ntr8qx/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [16]:
# Load pandas and the data
import pandas as pd
import numpy as np
ride_sharing=pd.read_csv('ride_sharing.csv')

In [6]:
# show how many rows and columns are in this dataset
ride_sharing.shape

(25760, 10)

In [27]:
from numpy import int64
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

ride_sharing.dtypes
ride_sharing.head

ride_sharing['duration'] = ride_sharing['duration'].astype(int64)

<bound method NDFrame.head of        duration  station_A_id  \
0            12            81
1            24             3
2             8            67
3             4            16
4            11            22
...         ...           ...
25755        11            15
25756        10            15
25757        14            15
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
3                                Steuart St at Market St            28
4                                  Howard St at Beale St           350
...                                                  ...           ...
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
3                       The Embarcadero at Bryant St     1883          1
4                               8th St at Brannan St     4626          2
...                                              ...      ...        ...
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
0                 1959        Male         26
1                 1965        Male         27
2                 1993        Male         29
3                 1979        Male         26
4                 1994        Male         27
...                ...         ...        ...
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26
25758             1995        Male         27
25759             1990        Male         27

[25760 rows x 10 columns]>

In [28]:
# Now display the datatypes in the updated dataframe
ride_sharing.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [39]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print(ride_sharing.duration.min())
print(ride_sharing.duration.max())

1
1372

In [44]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
ride_sharing_2 = ride_sharing.drop(ride_sharing[ride_sharing['duration'] > 60].index)

In [43]:
# Now show both the min and max values of the duration column for your new dataset.
print(ride_sharing_2.duration.min())
print(ride_sharing_2.duration.max())

1
60

In [47]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
ride_sharing_2=ride_sharing_2[ride_sharing_2["tire_size"]==26]

In [54]:
from ast import And
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
len(ride_sharing_2[ride_sharing_2["user_gender"]=="FEMALE"])

0